@font-face {
  font-family: 'Shantell Sans';
  src: url(../fonts/ShantellSans.ttf);
}
@font-face {
  font-family: 'Fira Sans';
  src: url(../fonts/FiraSans.ttf);
}


html {
  scroll-behavior: smooth ;
  margin: none;
  overflow-x:hidden ;
}

::-webkit-scrollbar {
  opacity: 0;
}


body {
  background-color: azure;
}

header {
  font-family: 'Fira Sans';
  font-weight: 900;
  min-height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background-color: rgb(3, 3, 41);
  box-shadow: 0 0 20px black;
}

#hello-tag {
  border: 3px solid black;
  width: 450px;
  height: 300px;
  background-color: firebrick;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  box-shadow: 0 0 15px white;
  animation: tag-slap .5s linear 1 forwards;
  rotate: -2deg;
}
#red-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8px;
  color: white;
  height: 30%
}
#white-mid {
  display: flex;
  background-color: azure;
  width:100%;
  justify-content: center;
  align-items: center;
  height: 60%;
  border-radius: 5px;

}

#hello {
  font-size: 60px;
  position: relative;
  bottom: 70px;
  font-weight: 500;
}

#tag-text {
  position: relative;
  font-size: large;
  bottom: 155px;

}

h1 {
  font-size: 57px;
  transform: rotate(-15deg);
  font-weight: 500;
  font-family: 'Shantell Sans';
}

nav{
  font-family: 'Fira Sans';
  min-height: 4vh;
  list-style: none;
  display: flex;
  /* top: 20px; */
  width: 100%;
  justify-content: space-evenly;
  color: black;
  animation: nav-drop .4s ease-out .75s ;
  animation-iteration-count: 1;
  animation-direction:reverse;
  animation-fill-mode: backwards;
  margin-top: 20px;
  font-weight: 500;
  border-bottom: 1px solid rgb(3, 3, 41);
  width: 98%;
  border-radius: 40px 40px 40px 40px;
  padding: 0 20px ;
  /* background-color: azure;
  position: sticky;
  opacity: 0; */
}

a {
  color: rgb(8, 8, 95);
}

h2 {
  font-family: 'Shantell Sans';
  display: flex;
  align-items: center;
  font-size: 100px;
  margin: 0;
  text-decoration: underline;


}

#intro {
  display: flex;
  margin: 30px;
  justify-content: space-evenly;
  align-items: space-evenly;
  position: relative;
  min-height: 49vh;

}
#intro img{
  max-height: 400px;
  border-radius: 25px;
  box-shadow: 0px 0px 10px black;
} 

#bio {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  width: 55%;
}
#bio p {
  font-size: 20px;
  margin-top: 80px;
  font-family: 'Fira Sans';
}

h3 {
  font-family: 'Shantell Sans';
  font-size: 40px;
  text-decoration: underline;
}
.projects {
  font-family: 'Fira Sans';
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 80px;
  min-height: 100vh;
}
.projects > span  {
  display: flex;
  width: 50vw;
  font-size: 18px;
  margin-bottom: 20px;
}
h4 {
  font-size: 30px;
  color: rgb(8, 8, 95);
}
.project {
  display: flex;
  justify-content: space-around;
  width: 80vw;
  align-items: center;
  border-bottom: 1px solid grey;
  padding: 20px;
  
}
.tech {
  width: 200px;
  list-style: none;
  text-align: start;
}
.desc {
  margin-left: 120px;
  width: 600px;
  list-style:circle;
  text-align: left;
}

.project p {
  width: 600px;
}
.project-heading {
  width: 300px;
}
.project-info{
  width: 85vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;

}
#webapps img, #game-projects img{
  max-height: 150px;
  margin-left: 80px;
  box-shadow: 0 0 10px black;
}
.project img:hover {
  animation: image-hover .2s forwards;
}

#mobile-projects img {
  width: 150px;
  margin-left: 80px;
  box-shadow: 0 0 10px black;
}
iframe {
  height: 150px;
  width: 266px;
}


#foot {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-top: 7px solid black;
	height: 350PX;
	width: 100vw;
	background: #111111;
  box-shadow: 0 0 10px black;
	margin-left: -10px;
}
#contact {
  font-family: 'Fira Sans';
  display: flex;
  flex-direction: row;
  color: gray;
  width: 50%;
  justify-content: space-around;
}

.footerlinks {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	margin: 30px 60px;

}

.footnote {
  justify-self: end;
  font-size: 16px;
  color: gray;
  font-family: 'Shantell Sans';
}
.fimage {
  max-height: 	70px;
	align-self: center;
	cursor: pointer;
	margin: 10px 30px;
}
.fimage:hover {
  scale: 1.05
}
.flink {
	color: #3B3B3B;
	margin: 3px;
	text-decoration: none;
  font-family: 'Fira Sans';
}
.flink:hover {
	color: gray;
}
#links {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}



/* =============== ANIMATIONS ================ */

@keyframes tag-slap {
  0% {
    scale: 2.5;
    translate: 1800px;
    rotate: y 200deg;
  }
}

@keyframes nav-drop {
0% {

  translate: 0 0px;
  }
  20% {
    opacity: 100%;
  }
  100%{
    opacity: 100%;

  }
}

@keyframes image-hover {
  100% {
    scale: 1.2;
  }
}